@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900);

/*-----------------------------
    Animation
-----------------------------*/
@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}}

@-webkit-keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}}

@keyframes slideUp {
  from {transform: translateY(100px);}
  to {transform: translateY(0px);}}

@-webkit-keyframes slideUp {
  from {-webkit-transform: translateY(100px);}
  to {-webkit-transform: translateY(0px);}}

/*-----------------------------
    Base Styles
-----------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #e6e6e6;
  padding: 5% 5% 10% 5%;
  position: relative;
}

body {
  margin: 0 auto;
  text-align: center;
  max-width: 1346px;
  -webkit-animation: fade-in 750ms ease-out;
}

/*-----------------------------
    Header
-----------------------------*/

h1,
h2,
h3,
h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  color: #c1c1c1;
  font-size: 1.5rem
}

h1 {
  color: #fff;
  font-weight: 900;
  font-size: 2.4em;
  letter-spacing: .25rem;
  text-transform: uppercase;
}

h2 a,
h3 a,
h4 a {
  color: #f18260;
  text-decoration: none;
}

img {
  margin: 8% 0;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 0 50px 5px rgba(0,0,0,.2)
  -webkit-transform: translateY(0);
  -webkit-animation: slideUp 500ms ease-in-out;
}

.twitter-share-button,
.gh-button {
  position: absolute;
  top: 30px;
  right: 30px;
}

.gh-button { right: 30px; }

/*-----------------------------
    Mobile - Removing Share buttons for now.
-----------------------------*/

@media only screen and (max-width: 750px) {

  .twitter-share-button,
  .gh-button {
    display: none;
  }

}